doctype html
html
  head
    title= title= 'Socket.io Dashboard'
    meta(charset="utf-8")
    script(type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    link(type="text/css"
        rel="stylesheet"
        href="/stylesheets/reset.css"
        media="all")
    link(type="text/css"
        rel="stylesheet"
        href="/stylesheets/style.css"
        media="all")
    block heading

  body
    h1.header Express App
    h1.header Socket.io Dashboard

    block content
    
   